/*-------------------------------------------------
|     m.css [The common style]
+--------------------------------------------------
|     Author: LiYongliang <yongliang.li@dianping.com>
+--------------------------------------------------
|     Upadated: 2013.06.28 12:00
+--------------------------------------------------
|     Upadated by: LiYongliang <yongliang.li@dianping.com>toast
+------------------------------------------------*/


/*-------------------------------------------------
     Reset Styles
-------------------------------------------------*/
* { margin: 0; padding: 0; outline: none;}
body { width:100%; font-family: "Helvetica Neue", Arial, sans-serif;}
a { text-decoration: none; color:#575eb5;}
a:visited {color:#575eb5;}
a:hover{ text-decoration:none;}
button, input, select, textarea { font-size: 100%; margin:0; padding:0;outline: none; }
textarea ,input{ resize: none;outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
textarea{ resize: none;-webkit-appearance: none;}
ul,ol { list-style: none;}
em{ font-style:normal;}
h2{ font-weight:bold; font-size: 14px; line-height:25px; color:#999693; padding:10px 0;}
.clearfix:after{content:"\20";display: block; height: 0;visibility: hidden; clear: both;}

/*-------------------------------------------------
     Sprite Styles
-------------------------------------------------*/
.shop-info .info .pic
{ background-image:url(img/sprite.png) ; background-repeat:no-repeat; background-size:250px auto;}

.item-rank-rst{ 
    float: left; width:84px; height: 16px; margin: 3px 12px 0 0; text-indent: -9999px; overflow: hidden; 
    background-image:url(img/remark.png); background-repeat:no-repeat;background-size:87px auto;
}
.irr-star0 { background-position: 0 -92px;}
.irr-star5 { background-position: 0 -153px;}
.irr-star10 { background-position: 0 -74px;}
.irr-star20 { background-position: 0 -56px;}
.irr-star30 { background-position: 0 -37px;}
.irr-star35 { background-position: -1px -133px;}
.irr-star40 { background-position: 0 -19px;}
.irr-star45 { background-position: 0 -112px;}
.irr-star50 { background-position: 0 0;}


body{
    background:#f7f7f7;
    font-size:16px;
    color: #323232;
}

/*-------------------------------------------------
     Header Styles
-------------------------------------------------*/
header{
    position:relative;
    background: #f1f1f1;
    text-align:center; 
    line-height:47px; 
    color:#fff; 
    font-size:16px;
    width:100%; z-index:999;
    border-bottom:1px solid #fafafa;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.header-box{ position:relative; zoom:1;padding:0 10px;color: #404040;}

/*-------------------------------------------------
     Shop Details Styles
-------------------------------------------------*/
.shop-info{
    background: #fff;
    padding:10px 20px;
    border-bottom:1px solid #ff8400;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    color:#999;
}
.shop-info .name{ padding-bottom:14px;padding-top:4px; color:#323232;}
.shop-info .name h1{ font-size:18px; font-weight: normal;}
.shop-info .info{ padding-left:120px; font-size:14px; line-height:25px;}
.shop-info .info .item-rank-rst{ margin-bottom:4px;}
.shop-info .info p{ overflow:hidden; zoom:1;line-height: 30px;}
.shop-info .info .pic{ float:left; margin-left:-120px;_display:inline; padding:10px 8px 10px 9px; background-position:-42px -84px; background-size:169px auto; width:100px; height:75px;}

.shop-info .info .rating {
    line-height: 30px;
    padding-top:10px;
}

.shop-info .info .desc span{ padding-right:2px;}
.shop-info .info .pic img{ width:100px; height:75px;}

.shop-info .my .num{
    font-size: 50px;
    padding: 0 5px;
    color: #ff8400;
}

.shop-info .my .left{
    font-size: 18px;
    padding: 0 3px;
    color: #323232;
}

.shop-info .my .your-turn{
    color: #ff8400;
    font-weight: bold;
}

.table{
    margin: 10px 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    padding: 1px;
    color: #999;
    font-size: 14px;
    background:#fff;
}

.table .name,
.table .info
{
    float: left;
}

.table .add
{
    float: right;
    height: 100px;
    width: 50px;
}

.table .name{
    height: 100px;
    border-right: 1px solid #ccc;
    width: 80px;
    text-align: center;
    line-height: 100px;
}

.table .name .unit{
    font-size: 18px;
}

.table .name .id{
    font-size: 60px;
    color:#ff8400;
}

.table .info{
    margin-right: -300px;
    padding: 10px 0 10px 10px;
}

.table .info li{
    padding: 5px;
}

.table .info span {
    display: inline-block;
}

.table .info .desc{
    width: 90px;
    text-align: left;
}

.table .info .amount{
    width: 25px;
    text-align: right;
    color: #323232;
}

.table .info .unit{
    color: #323232;
    padding-left: 5px;
}

.table .add{
    position: relative;
    cursor: pointer;
}

.table .add span {
    background: #ff8400;
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 10px;
    top: 45px;
}

.table .add span:nth-child(even){
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.table-disabled{
    opacity: .2;
}

.table-disabled .add{
    display: none;
}

.table-selected .add span:nth-child(odd){
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}



.table-selected .add span:nth-child(even){
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}


.table-pending .add span:nth-child(odd){
    display: none;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

.table-pending .add span:nth-child(even){
    height: 30px;
    background: url(img/loading.png);
    -webkit-animation: loading 1s infinite linear;
    top: 35px;
}

